@using System.Collections.Generic;
@using BOL;
@{
    ViewData["Title"] = "Orders Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
        List<Orders>xyz=(List<Orders>)this.ViewData["order"];
            foreach(Orders o in xyz){
                <P>@o.oid @o.odt</P>
            }
}
